/* .misColores {
    #2f1b41;
    #9f1e49;
    #fecd51;
    #f2f2f2;
    #ff7676;
    #f6f49d;
    #5dae8b;
    #466c95;
    } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0px;
  max-height: 100%;
  max-width: 100%;
  padding: 0px;
  position: relative;
  text-align: center;
  background-color: #000;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

iframe {
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

nav ul li {
  align-items: center;
  display: flex;
  height: auto;
  list-style-type: none;
  margin-right: 20px;
}

nav ul {
  align-content: stretch;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li a {
  background-color: #466c95;
  border-radius: 10px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #fecd51;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  /*transformenlargewidthonly*/
  -o-transform: scale(1.5);
  -o-transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav ul li a:active {
  background-color: #5dae8b;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  height: 100px;
  width: 125px;
}

h1 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.navbar__logo {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  /* footer at the bottom of  the page */
  background-color: #ccff00;
  bottom: 0;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: center;
  left: 0;
  margin: 0px;
  margin-top: 300px;
  position: relative;
  text-align: center;
  width: 100%;
}
}

/* Form */
#accordion {
  height: max-content;
}

form {
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-color: #466c95;
  border-radius: 20px;
  box-sizing: border-box;
  color: #fff;
  display: grid;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 120px;
  padding: 1em;
  width: 350px;
  height: auto;
  margin-top: 50px;
}

button.btn.btn-primary:hover {
  background-color: #fecd51;
  border: #fecd51;
}

input[type="text" i] {
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 3px solid #466c95;
  font-weight: bold;
  height: 20px;
  padding: 1px 2px;
  width: 300px;
}

input[type="email" i] {
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 3px solid #466c95;
  font-weight: bold;
  height: 20px;
  padding: 1px 2px;
  width: 300px;
}

textarea {
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 3px solid #466c95;
  font-weight: bold;
  height: 100px;
  padding: 1px 2px;
  width: 300px;
}

button.btn.btn-primary {
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #5dae8b;
  border-radius: 5px;
  border: 5px solid #5dae8b;
  font-weight: bold;
  height: 30px;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 200px;
}

.video {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Photo carousel */
* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  margin: auto;
  max-width: 1000px;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  border-radius: 0 3px 3px 0;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-top: -22px;
  padding: 16px;
  position: absolute;
  top: 50%;
  transition: 0.6s ease;
  width: auto;
}

/* Position the "next button" to the right */
.next {
  border-radius: 3px 0 0 3px;
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  bottom: 8px;
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin: 0 2px;
  transition: background-color 0.6s ease;
  width: 15px;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-duration: 3.0s;
  animation-name: fade;
}

@keyframes fade {
  from {
    opacity: .3
  }

  to {
    opacity: 1
  }
}

/* Photo gallery */

.container {
  height: 100%;
  perspective: 1000px;
  position: relative;
  width: 100%;
}

.images {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
  width: 100%;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.image-box {
  border-radius: 15px;
  cursor: pointer;
  height: 300px;
  margin: 10px;
  overflow: hidden;
  transition: all 1.5s ease;
  width: 300px;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
}

.image-box img {
  height: 100%;
  object-fit: cover;
  -o-transition: all 0.5s ease;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.image-box:hover img {
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.socials img {
  height: 50px;
  margin: 10px;
  width: 50px;
}