body,
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
/* Imagen de fondo del body */
body {
    background-image: url(../assets/images/VincentVanGogh2.webp);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

iframe {
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

nav ul li {
    align-items: center;
    display: flex;
    height: auto;
    list-style-type: none;
    margin-right: 20px;
}

nav ul {
    align-content: stretch;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #466c95;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
}

nav ul li a:hover {
    background-color:  #fecd51;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}

footer {
    height: 45px;
    background: #ff7676;
    color: #000000;
    width: 100%;
    position: relative;
    left:0px;
    bottom:0px;
    margin: 0;
    padding: 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

footer p {
    display: block;
    margin-block: 0;
}

footer h3 {
    display: block;
    font-size: 1.17em;
    margin: 0px;
    font-weight: bold;
}

/* Form */

#accordion {
    height: max-content;
}

form {
    width: 350px;
    box-sizing: border-box;
    padding: 1em;
    display: grid;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
}

input[type="text" i] {
    padding: 1px 2px;
    width: 300px;
    height: 20px;
    border: 3px solid #466c95;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
}

input[type="email" i] {
    padding: 1px 2px;
    width: 300px;
    height: 20px;
    border: 3px solid #466c95;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
}

textarea {
    padding: 1px 2px;
    width: 300px;
    height: 100px;
    border: 3px solid #466c95;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
}

button.btn.btn-primary {
    width: 200px;
    height: 30px;
    border: 5px solid #5dae8b;
    margin-bottom: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background-color: #5dae8b;
    font-weight: bold;
    margin-top: 10px;
}

/* .misColores {
    #2f1b41;
    #9f1e49;
    #fecd51;
    #f2f2f2;
    #ff7676;
    #f6f49d;
    #5dae8b;
    #466c95;
} */

/* Photo carousel */

#carousel > div {
	backface-visibility: hidden;
}
.container {
  position: relative;
  width: 550px;
  height: 250px;
  /* border: 1px dotted black; */
  perspective: 600px;
}

#carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-300px);
  transition: all 1s ease-in;
}
#carousel > div {
  display: block;
  position: absolute;
  top: 55px;
  left: 170px;
  width: 200px;
  object-fit: cover;
  border: 1px solid #000a35;
	border-radius: 0.5em;
	overflow: hidden;
  /* backface-visibility: hidden; */
}
#carousel {animation: spin 35s infinite linear;}

img {
	position: relative;
	display: block;
	width: 100%;
	max-width: 100%;
	aspect-ratio: 3 / 2;
	object-fit: cover;
}

/* 40deg = 360/9 */
#carousel div:nth-child(1) { transform: rotateY(   0deg ) translateZ( 300px ); }
#carousel div:nth-child(2) { transform: rotateY(  40deg ) translateZ( 300px ); }
#carousel div:nth-child(3) { transform: rotateY(  80deg ) translateZ( 300px ); }
#carousel div:nth-child(4) { transform: rotateY( 120deg ) translateZ( 300px ); }
#carousel div:nth-child(5) { transform: rotateY( 160deg ) translateZ( 300px ); }
#carousel div:nth-child(6) { transform: rotateY( 200deg ) translateZ( 300px ); }
#carousel div:nth-child(7) { transform: rotateY( 240deg ) translateZ( 300px ); }
#carousel div:nth-child(8) { transform: rotateY( 280deg ) translateZ( 300px ); }
#carousel div:nth-child(9) { transform: rotateY( 320deg ) translateZ( 300px ); }

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}
/* Pause animation */
#carousel:hover {animation-play-state: paused;} 

.active {transform: scale(2);}

* > {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	display: grid;
	place-items: center;
	background: linear-gradient(to bottom right, #000a35, #001368, #000c3f, #000416);
}

/* Photo carousel index principal*/

.slider {
    width: 900px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    display: block;
    width: 900px;
    height: 400px;
    list-style: none;
    margin: 0;
    padding: 0;
    }

    .slide {
        float: left;
        height: 400px;
        width: 900px;
    }